 

div#content div{
  display: inline-block;
  width: 48%;
}
div#content div.leftbox{
  color: blue;

}

div#content div.rightbox{
  vertical-align: top;
  color: blue;
  
}



body{
   background: url("https://fr.cdn.v5.futura-sciences.com/buildsv6/images/wide1920/b/b/2/bb28123691_120052_neige-blanche-montagne.jpg") no-repeat; /* insérer une backgroun */
   background-size: 1600px
}
body{
  overflow: hidden;
}
header {
  text-align: center;

}
{
    margin : 0; /* marge */ 
     }
#menu {  /* Modification du menu générale*/
    min-width: 1500px; /* permet de garder l'affichage de la page intact si l'on reduit la fenêtre */
    width: 100% ;
    height: 100px;
    position: relative;
    text-align: center;
    
}


#menu ul { 
    float: left;
    left: 50%;
    position: relative;
    padding-top: 15px;
    margin-left: -60px;


}


#menu ul li{
     margin-left: 30px;
     float: left;
     list-style-type: none;
     position: relative;
     left: -50%; /* left -50% + left 50% dans #menu ul permet de garder les boutons au milieu de la page en cas de réductio nde fenetre */

 }


#menu ul li a { 
    text-align: center;
    padding-top: 10px;
    display: inline-block; 
    height: 40px; 
    width: 200px;
    color: white;
    text-decoration: none;
    background-color: black;
}
#menu ul li:hover a{    /* reglage du passage de la souris sur les titres du menu a bouton */ 
  color: black;
  background-color: yellow; 
  transition: 0.3s all;

}
body{
  font-family: 'Source code pro', Calibri, serif;
  margin: 0px;
  padding: 0px;
}
nav{
  width: 100%;
  background-color: #424558;  
  float: right;
  
}
nav > ul{
  margin: 0px;
  padding: 0px;
}
nav > ul:after{
  content:"";
  display: block;
  clear: both;
}

nav >ul >li{
  float: left;
  position: relative;
}
nav > ul > li > a{
  padding: 20px 30px;
  color: #FFF;

}
nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}
nav li{
  list-style-type: none;
}
.submenu{
  display: none;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
nav li:hover .submenu{
display: ineline-block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 1000;
}
.submenu li{
 border-bottom: 1px solid #CCC; 
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}
.menu-immo:hover{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000,112,192,0.15);
}
.menu-accueil:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241,211,79,0.15);
}
.menu-randonne:hover{
  border-top: 5px solid #BBB;
  background-color: RGBa(220,220,220,0.15);
}
.menu-immo .submenu{
  background-color: RGB(800,160,240);
}
.menu-accueil .submenu{
  background-color: RGB(250,215,100);
}
